table.wrapper {}
img.resize {}
.item {}
.item img {}
.item img.disappear {}
.item img.noresize {}
.item1 {}
.item1 {width: 310px !important;}
.item1 {width: 480px !important;}
/* Reset Styles */
/* Add 100px so mobile switch bar doesn't cover street address. */
body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}
img {
    outline: none;
    text-decoration: none;
}
br, strong br, b br, em br, i br {
    line-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 100% !important;
    -webkit-font-smoothing: antialiased;
}
a:link {
    text-decoration: none;
    color: #008FD4;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #0A5687!important;
}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
    color: red !important;
}
/* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: purple !important;
}
/* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
table td, table tr {
    border-collapse: collapse;
}
.yshortcuts, .yshortcuts a, .yshortcuts a:link, .yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {
    color: black;
    text-decoration: none !important;
    border-bottom: none !important;
    background: none !important;
}	/* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */

@media screen and (max-width: 480px) {
    table.wrapper {
        width: 310px !important;
    }
    img.resize {
        width: 310px !important;
        height: auto !important;
    }
    .item {
        width: 310px !important;
    }

    td#content.item {
        padding: 10px 0 10px 20px !important;
    }

    tr td#header.item {
        padding: 10px 10px 0 10px !important;
    }

    /*.item img {width: 310px !important;  height: auto !important;}*/
    /*.item img.noresize {width: inherit !important;}*/
    .item img.disappear {
        display: none !important;
    }

    .logotext {
        display: none;
    }

    td#seal {
        padding: 0px!important;
    }

    /* footer */
    td.block {
        display: block !important;
        padding: 10px!important;

    }

    #account { padding: 0 !important;}

    td.social-footer { padding: 0 0.5em !important; }
    td.logo-footer { padding: 0 0 0 10px!important; }


}

@media screen and (min-width: 481px) and (max-width: 699px) {
    table.wrapper {
        width: 480px !important;
    }
    img.resize {
        width: 480px !important;
        height: auto !important;
    }
    .item {
        width: 480px !important;
    }
    /*.item img {width: 480px !important;  height: auto !important;}
    .item img.noresize {width: inherit !important;}*/
    .item img.disappear {
        display: none !important;
    }

    .logotext {
        display: none;
    }

    td#seal {
        padding: 0px!important;
    }

    /* footer */
    td.block {
        display: block !important;
        padding: 10px!important;

    }

    #account { padding: 0 !important;}

    td.social-footer { padding: 0 0.5em !important; }
    td.logo-footer { padding: 0 0 0 10px!important; }

}
